@model IEnumerable<Menu.Links>

@foreach (var parent in Model)
{

	<li class="">
		@if (parent.SubLinks.Any())
		{
			<a href="#" class="dropdown-toggle">
				<i class="menu-icon fa fa-support"></i>
				<span class="menu-text">@parent.Link </span>

				<b class="arrow fa fa-angle-down"></b>
			</a>

			<b class="arrow"></b>

			<ul class="submenu">
				@foreach(var sub in parent.SubLinks)
				{
				<li class="">
					<a asp-controller="Home" asp-action="@sub.Url">
						<i class="menu-icon fa fa-caret-right"></i>
						@sub.Sub_Link
					</a>

					<b class="arrow"></b>
				</li>
				}

			</ul>
		}
	</li>
}